/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8em; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-image: url('goku.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4e2700;
  border: 5px solid purple;
  border-radius: 20px;
  position: relative;
  margin: auto;
  padding: 15px;
  width: 100%;
  height: 70vh;
  z-index: -2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header2{
  color: white;
  text-align: center;
  background-color: rgba(128,0,128,0.5);
  border-radius: 20px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 purple,
  1px 1px 0 purple, 1px -1px 0 purple, -1px -1px 0 purple;
}
.modal-body2 {
  text-align: center;
  margin-top: 0;
  color: purple;
  font-weight: 700;
  font-size: 5em;
  text-shadow: -1px 1px 0 yellow,
  1px 1px 0 yellow, 1px -1px 0 yellow, -1px -1px 0 yellow;
}
.answerQuotes {
  position: absolute;
  text-align: center;
  background-color: rgba(255,181,9,0.4);
  border-radius: 20px;
  top: 50%;
  font-size: 18px;
  padding: 3px;
  color: purple;
  font-weight: 600;
  text-shadow: -0.5px 0.5px 0 white,
  0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px -0.5px 0 white;
}
.modal-footer2 {
  position: absolute;
  top: 85%;
  left: 30%;
}
.next-btn{
  color: yellow;
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background: rgba(128,0,128,0.621);
  transition: all 0.3s ease;
}
.next-btn:active{
  background: #fff;
  color: #c05b02;
  border: 2px solid #9a1bb2;
}