*{
  box-shadow: border-box;
  font-family: "Sofia", sans-serif;
}
body{
  background-image: url('bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #580258;
  height: 100vh;
}
#highestScore{
  position: absolute;
  top: -2%;
  padding: 5px;
  border: 2px solid yellow;
  border-radius: 5px;
  color: white;
  background-color: purple;
}
.grid {
  width: 95%;
  max-width: 100%;
  display: grid;
  margin: 5px;
  gap: 1em;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  counter-reset: boxes;
  height: 50vh;
  background-image: url('board.jpg');
  border: 10px solid purple;
  border-radius: 20px;
  padding: 1px;
  margin-top: 10%;
}
#shuffleImg{
  position: absolute;
  left: -20em;
  top: 30%;
  z-index: 1;
  transition: all 0.5s;
}
.box {
  position: relative;
  color: rgba(255,255,255,.7);
  height: 90%;
  font-family: sans-serif;
  counter-increment: boxes;
  width: 30vw;
}
.blue {
  background: #4040e7;
  border: 5px solid rgba(0,0,0,.5);
}
.red {
  background: #db3c3c;
  border: 5px solid rgba(0,0,0,.5);
}
.green {
  background: #3ddb3d;
  border: 5px solid rgba(0,0,0,.5);
}
.yellow {
  background: yellow;
  border: 5px solid rgba(0,0,0,.5);
}
.shuffleWrap {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#startBtn{
  position: absolute;
  top: 38%;
  left: 18%;
}
.stButton{
  font-size: 30px;
  border: 2px solid yellow;
  color: yellow;
  background-color: purple;
  border-radius: 20px;
  animation: blink 1s infinite;
}
@keyframes blink{
  from {
    background-color: purple;
  }
  to {
    background-color: yellow;
  }
}
#gameTab{
  display: none;
  background-image: url('gamebg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: yellow;
  height: 100vh;
  padding: 10px;
}
#nextBtn{
  display: none;
  text-align: center;
  font-size: 20px;
  background-color: purple;
  border: none;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}
#nextBtn:active{
  background-color: yellow;
  color: purple;
}
#infoGame{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-top: 5px;
}
#gNum, #grd, #resetBtn{
  font-size: 20px;
  color: yellow;
  background-color: purple;
  border-radius: 50px;
  padding: 5px;
}
#color{
  position: absolute;
  text-shadow: -1px 1px 0 white,
  1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  font-size: 30px;
  top: 5%;
  font-weight: 600;
  padding: 5px;
}
#remark{
  position: absolute;
  font-size: 30px;
  top: 10%;
  font-weight: 700;
  color: green;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  text-shadow: -1px 1px 0 white,
  1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}